.article {
  background-color:rgb(213, 245, 255);
  height: 150px;
  border-collapse:collapse;
  border: 1px #000 solid;
  width: 100%;
}

td {
  border-collapse:collapse;
  border:1px solid#000;
  padding: 5px;
}